.maincontainer{
    height: 2000px;
    width: 100%;
    background-color: white;
    
}
.container{
    height: 700px;
    width: 100%;
    background-image: url(images/expic1.jpg);
    background-size: cover; 
    
    
    
}
.nav1{
    height: 700px;
    width: 100%;
    background-size: cover;
    display: flex;
    font-size: 35px;
    padding: 19px;
    color: white;
    
 
}
.contact{
    margin-left: 900px;
    font-size: 30px;
}
.nav2 ul {
   margin-top: -650px;
   padding: 10px;
   justify-content: space-between;
   display: flex;
   list-style: none;
   li a{
    display: inline;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bolder;
    color: white;
   }
   
}
.content{
    text-align: center;
    font-size: 50px;
    color: white;
    font-weight:
}
.para1{
    text-align: center;
    font-size: 30px;
    color: white;
    margin-top: -20px;
}
.letsgo{
    text-align: end;
    margin-right: 100px;   
    color: white;
    font-size: 30px;
    padding: 10px;
}
.content2{
    text-align: center;
    margin-top: 150px;   
}
.head{
    font-size: 25px;
}
.nav3{
    height: 500px;
    width: 100%;
    background-color: rgb(219, 139, 20);
}
.activities{
    height:1250px;
    width: 100%;
   

}
.mountains{
    float: left;
    text-align: center;
    margin: 60px;
    
}
.nature{

    float: left;
    text-align: center;
    margin: 60px;
}
.scenery{
    float: left;
    text-align: center;
    margin: 60px;
}

.wildlife{
    float: left;
    text-align: center;
    margin: 60px;

}
.bird{
    float: left;
    text-align: center;
    margin: 60px;
}
.adventure{
    float: left;
    text-align: center;
    margin: 60px;
}
.road{
    height: 600px;
    width: 100%;
    background-image: url(images/exploorpic8.jpg);
    background-size: cover;
    text-align: center;
    padding-top: 100px;
    color: white;
}
.heading{
    font-size: 50px;
}
.booking{
    margin-right: 900px;
    margin-top: 50px;
}
.pickup{
    margin-top: -165px;
    margin-right: 330px;
}
.guide{
    margin-left: 320px;
    margin-top: -160px;
}
.price{
    margin-left: 900px;
    margin-top: -160px;

}
.packages{
    height:200px;
    width: 100%;
    
}
    
.packages{
    
    text-align: center;
    padding-top: 100px;    
}
.pack2{
    font-size: 60px;
}
.trip{
    margin-left: 30px;
    margin-top: -41px;
    color: black;
    font-size:17px;
}
.package{
    height: 400px;
    width: 100%;
    

    
    
}

.package1{
    color: orange;
    float: left; 
    margin: 33px;
    margin-left: 60px;
    
}.package2{
    color: orange;
    float: left;
    margin:33px;
     
}.package3{
    color: orange;
    float: left; 
    margin: 33px;  
    
}.package4{
    color: orange;
    float: left; 
    margin: 33px;  
    
}
.rating1{
    margin-left: 150px;
    margin-top: -41px;
    color: orange;
}
.rating1a{
    margin-left: 30px;
    margin-top: -26px;
}
.rating1b{
    font-size: 17px;
    margin-top: 10px;
}
.price1{
    color: black;
    margin-top: 25px;
    font-size: 30px;
    
    
}
.price1a{
    color: black;
    margin-left:32px ;
    font-size: 20px;
    margin-top: -31px;
}
.arrow1{
    margin-left: 120px;
    margin-top: -34px;
}

.trip1{
    margin-left: 30px;
    margin-top: -41px;
    color: black;
    font-size:17px;
}
.rating2{
    margin-left: 150px;
    margin-top: -41px;
    color: orange;
}
.rating2a{
    margin-left: 30px;
    margin-top: -26px;
}
.rating2b{
    font-size: 17px;
    margin-top: 10px;
}
.price2{
    color: black;
    margin-top: 25px;
    font-size: 30px;
    
    
}
.price2a{
    color: black;
    margin-left:32px ;
    font-size: 20px;
    margin-top: -31px;
}
.arrow2{
    margin-left: 120px;
    margin-top: -34px;
}
.trip2{
    margin-left: 30px;
    margin-top: -41px;
    color: black;
    font-size:17px;
}
.rating3{
    margin-left: 150px;
    margin-top: -41px;
    color: orange;
}
.rating3a{
    margin-left: 30px;
    margin-top: -26px;
}
.rating3b{
    font-size: 17px;
    margin-top: 10px;
}
.price3{
    color: black;
    margin-top: 25px;
    font-size: 30px;
    
    
}
.price3a{
    color: black;
    margin-left:32px ;
    font-size: 20px;
    margin-top: -31px;
}
.arrow3{
    margin-left: 120px;
    margin-top: -34px;
}



.trip3{
    margin-left: 30px;
    margin-top: -41px;
    color: black;
    font-size:17px;
}
.rating4{
    margin-left: 150px;
    margin-top: -41px;
    color: orange;
}
.rating4a{
    margin-left: 30px;
    margin-top: -26px;
}
.rating4b{
    font-size: 17px;
    margin-top: 10px;
}
.price4{
    color: black;
    margin-top: 25px;
    font-size: 30px;
    
    
}
.price4a{
    color: black;
    margin-left:32px ;
    font-size: 20px;
    margin-top: -31px;
}
.arrow4{
    margin-left: 120px;
    margin-top: -34px;
}





.packagen{
    height: 460px;
    width: 100%;
    
}
.trip4{
    margin-left: 30px;
    margin-top: -41px;
    color: black;
    font-size:17px;
}
.rating5{
    margin-left: 150px;
    margin-top: -41px;
    color: orange;
}
.rating5a{
    margin-left: 30px;
    margin-top: -26px;
}
.rating5b{
    font-size: 17px;
    margin-top: 10px;
}
.price5{
    color: black;
    margin-top: 25px;
    font-size: 30px;
    
    
}
.price5a{
    color: black;
    margin-left:32px ;
    font-size: 20px;
    margin-top: -31px;
}
.arrow5{
    margin-left: 120px;
    margin-top: -34px;
}




.trip5{
    margin-left: 30px;
    margin-top: -41px;
    color: black;
    font-size:17px;
}
.rating6{
    margin-left: 150px;
    margin-top: -41px;
    color: orange;
}
.rating6a{
    margin-left: 30px;
    margin-top: -26px;
}
.rating6b{
    font-size: 17px;
    margin-top: 10px;
}
.price6{
    color: black;
    margin-top: 25px;
    font-size: 30px;
    
    
}
.price6a{
    color: black;
    margin-left:32px ;
    font-size: 20px;
    margin-top: -31px;
}
.arrow6{
    margin-left: 120px;
    margin-top: -34px;
}





.trip6{
    margin-left: 30px;
    margin-top: -41px;
    color: black;
    font-size:17px;
}
.rating7{
    margin-left: 150px;
    margin-top: -41px;
    color: orange;
}
.rating7a{
    margin-left: 30px;
    margin-top: -26px;
}
.rating7b{
    font-size: 17px;
    margin-top: 10px;
}
.price7{
    color: black;
    margin-top: 25px;
    font-size: 30px;   
}
.price7a{
    color: black;
    margin-left:32px ;
    font-size: 20px;
    margin-top: -31px;
}
.arrow7{
    margin-left: 120px;
    margin-top: -34px;
}




.trip7{
    margin-left: 30px;
    margin-top: -41px;
    color: black;
    font-size:17px;
}
.rating8{
    margin-left: 150px;
    margin-top: -41px;
    color: orange;
}
.rating8a{
    margin-left: 30px;
    margin-top: -26px;
}
.rating8b{
    font-size: 17px;
    margin-top: 10px;
}
.price8{
    color: black;
    margin-top: 25px;
    font-size: 30px;   
}
.price8a{
    color: black;
    margin-left:32px ;
    font-size: 20px;
    margin-top: -31px;
}
.arrow8{
    margin-left: 120px;
    margin-top: -34px;
}



.package5{
    color: orange;
    float: left; 
    margin: 33px;
    margin-left: 60px;
    
}.package6{
    color: orange;
    float: left;
    margin:33px;
     
}.package7{
    color: orange;
    float: left; 
    margin: 33px;  
    
}.package8{
    color: orange;
    float: left; 
    margin: 33px; 
} 

.logform{
    height: 700px;
    width: 100%;
    background-image: url(images/exploorpic8.jpg);
    background-size: cover;
    text-align: center;
    padding-top: 100px;  
    color: white;
   
}
.log2{
    font-size: 50px
}
.log3{
    font-size: 20px;
}
.entry{
    height: 400px;
    width: 800px;
    
    margin-left: 320px;
    margin-top: 70px;


}
.content{
    margin-right:130px;
}
button{
    height: 50px;
    width: 200px;
    background-color: rgb(243, 243, 14);
    border-radius: 20px;
}
    
.testimonal{
    height: 500px;
    width: 100%;
    
    text-align: center;
    padding-top: 130px;
}
.h2{
    font-size: 50px;
    margin-top: -25px;
    font-weight: 800;
}
.h3{
    font-size: 20px;
}
.h4{
    padding-top: 60px;
    padding-right: 60px;
}
.h5{
    padding-left: 200px;
    margin-top: -70px;
    
}
   

    

